// @import "./uikit/styles.scss";

// * {
//   list-style: none;
//   text-decoration: none;
//   box-sizing: border-box;
// }

// .App {
//   background-color: $app-bg;
//   background-size: cover;
//   background-position: center;
//   min-height: 100vh;
//   background-attachment: fixed;
// }
@import "./uikit/styles.scss";

* {
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.App {
  background-color: $app-bg;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  min-height: 100vh; // Минимальная высота 100% от высоты окна
  height: 100%; // Полная высота
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

.App > * {
  flex: 1;
}
